<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.Asika.demo.mapper.QuestMapper">
  <resultMap id="BaseResultMap" type="com.Asika.demo.entity.Quest">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="quest_name" jdbcType="VARCHAR" property="questName" />
    <result column="quest_biref" jdbcType="VARCHAR" property="questBiref" />
    <result column="quest_reward" jdbcType="INTEGER" property="questReward" />
    <result column="quest_order" jdbcType="VARCHAR" property="questOrder" />
    <result column="quest_receive" jdbcType="VARCHAR" property="questReceive" />
    <result column="path" jdbcType="VARCHAR" property="path" />
    <result column="create_time" jdbcType="DATE" property="createTime" />
    <result column="receive_time" jdbcType="DATE" property="receiveTime" />
    <result column="finsh_time" jdbcType="DATE" property="finshTime" />
  </resultMap>
  <sql id="Base_Column_List">
    id, quest_name, quest_biref, quest_reward, quest_order, quest_receive, path, create_time, 
    receive_time, finsh_time
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from quest
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from quest
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.Asika.demo.entity.Quest">
    insert into quest (id, quest_name, quest_biref, 
      quest_reward, quest_order, quest_receive, 
      path, create_time, receive_time, 
      finsh_time)
    values (#{id,jdbcType=INTEGER}, #{questName,jdbcType=VARCHAR}, #{questBiref,jdbcType=VARCHAR}, 
      #{questReward,jdbcType=INTEGER}, #{questOrder,jdbcType=VARCHAR}, #{questReceive,jdbcType=VARCHAR}, 
      #{path,jdbcType=VARCHAR}, #{createTime,jdbcType=DATE}, #{receiveTime,jdbcType=DATE}, 
      #{finshTime,jdbcType=DATE})
  </insert>
  <insert id="insertSelective" parameterType="com.Asika.demo.entity.Quest">
    insert into quest
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="questName != null">
        quest_name,
      </if>
      <if test="questBiref != null">
        quest_biref,
      </if>
      <if test="questReward != null">
        quest_reward,
      </if>
      <if test="questOrder != null">
        quest_order,
      </if>
      <if test="questReceive != null">
        quest_receive,
      </if>
      <if test="path != null">
        path,
      </if>
      <if test="createTime != null">
        create_time,
      </if>
      <if test="receiveTime != null">
        receive_time,
      </if>
      <if test="finshTime != null">
        finsh_time,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=INTEGER},
      </if>
      <if test="questName != null">
        #{questName,jdbcType=VARCHAR},
      </if>
      <if test="questBiref != null">
        #{questBiref,jdbcType=VARCHAR},
      </if>
      <if test="questReward != null">
        #{questReward,jdbcType=INTEGER},
      </if>
      <if test="questOrder != null">
        #{questOrder,jdbcType=VARCHAR},
      </if>
      <if test="questReceive != null">
        #{questReceive,jdbcType=VARCHAR},
      </if>
      <if test="path != null">
        #{path,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null">
        #{createTime,jdbcType=DATE},
      </if>
      <if test="receiveTime != null">
        #{receiveTime,jdbcType=DATE},
      </if>
      <if test="finshTime != null">
        #{finshTime,jdbcType=DATE},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.Asika.demo.entity.Quest">
    update quest
    <set>
      <if test="questName != null">
        quest_name = #{questName,jdbcType=VARCHAR},
      </if>
      <if test="questBiref != null">
        quest_biref = #{questBiref,jdbcType=VARCHAR},
      </if>
      <if test="questReward != null">
        quest_reward = #{questReward,jdbcType=INTEGER},
      </if>
      <if test="questOrder != null">
        quest_order = #{questOrder,jdbcType=VARCHAR},
      </if>
      <if test="questReceive != null">
        quest_receive = #{questReceive,jdbcType=VARCHAR},
      </if>
      <if test="path != null">
        path = #{path,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null">
        create_time = #{createTime,jdbcType=DATE},
      </if>
      <if test="receiveTime != null">
        receive_time = #{receiveTime,jdbcType=DATE},
      </if>
      <if test="finshTime != null">
        finsh_time = #{finshTime,jdbcType=DATE},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.Asika.demo.entity.Quest">
    update quest
    set quest_name = #{questName,jdbcType=VARCHAR},
      quest_biref = #{questBiref,jdbcType=VARCHAR},
      quest_reward = #{questReward,jdbcType=INTEGER},
      quest_order = #{questOrder,jdbcType=VARCHAR},
      quest_receive = #{questReceive,jdbcType=VARCHAR},
      path = #{path,jdbcType=VARCHAR},
      create_time = #{createTime,jdbcType=DATE},
      receive_time = #{receiveTime,jdbcType=DATE},
      finsh_time = #{finshTime,jdbcType=DATE}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>